@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
} */
body{
  color: #464646;
  /* height: 100vh; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* padding: 10px; */
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.login_bg {
  z-index: -1;
  position: relative;
  width: 100%;
  height: 100vh;
}

.register_holder {
  z-index: 1;
  margin-top: -80px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 800px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(60, 60, 60, 0.7);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,0.6);
  border-radius: 10px;
  right: 30%;
}

.register_holder h2, span {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.register_holder a img {
  margin-bottom: 25px;
  margin-left: 25%;
}

.register_holder .userbox {
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
}

.register_holder .userbox input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.register_holder .userbox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.register_holder .userbox input:focus ~ label,
.register_holder .userbox input:valid ~ label{
    top: -20px;
    left: 0;
    color:#03e9f4;
    font-size: 12px;
    transition-duration: 0.25s;
}

.login_btn {
  position: relative;
  display: inline-block;
  padding: 10px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 4px;
  background-color: transparent;
  border: 0;
  align-self: center !important;
}

.login_btn:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
  0 0 25px #03e9f4,
  0 0 50px #03e9f4,
  0 0 100px #03e9f4;
}

.button_display {
  display: flex;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
  justify-content: center;
}

